extends layout

block content
    div.charts
        h1|Mittaukset
        br
        div.doggo
            img(src="images/nabe4.jpg", alt="", width="200px", height="200px" )
            img(src="images/nabe5.jpg", alt="", width="200px", height="200px")
            img(src="images/nabe6.jpg", alt="", width="200px", height="200px")
        if user 
            .chart
                canvas#myChart(height="500" width="700")
                br
                br
                canvas#myChart2(height="500" width="700")
                br
                br
                canvas#myChart3(height="500" width="700")
            script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
            script(src='js/graph.js')

