
.switch input {
  display: none
}

input[type=text], input[type=number], select {
  width: 100%;
  padding: 4px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}

input[type=submit] {
  width: 100%;
  background-color: #008B74;
  color: white;
  padding: 4px 10px;
  margin: 18px 0;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  
}

input[type=submit]:hover {
  background-color: #005a4c;
}

.charts{
  position: relative;
  margin: auto;
  text-align: center;
}
.chart {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 60%;
}

body {  
  background: rgb(255, 255, 255);
  padding: 16px;
}

canvas {
  border: 1px dotted rgb(0, 0, 0);
}