
.switch input {
  display: none
}

input[type=text], input[type=number], select {
  width: 100%;
  padding: 4px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}

input[type=submit] {
  width: 100%;
  background-color: #008B74;
  color: white;
  padding: 4px 10px;
  margin: 18px 0;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  
}

input[type=submit]:hover {
  background-color: #005a4c;
}

.top-area{
  position: relative;
  text-align: center;
}

.chart-area{
  position: relative;
  background-color:whitesmoke
}


body {
   width:100%; 
   height:250%;
   background-color: white
   padding: 16px; 
  }

html {
  width:100%; 
  height:100%;
  padding: 16px; 
  }


